<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee
http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">

	<display-name>Task Master</display-name>
	<servlet>
		<servlet-name>taskServlet</servlet-name>
		<servlet-class>com.example.web.TaskServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>loginServlet</servlet-name>
		<servlet-class>com.example.web.LoginServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>userServlet</servlet-name>
		<servlet-class>com.example.web.UserServlet</servlet-class>
	</servlet>
	<filter>
		<filter-name>loginFilter</filter-name>
		<filter-class>com.example.web.LoginFilter</filter-class>
	</filter>
	<servlet-mapping>
		<servlet-name>taskServlet</servlet-name>
		<url-pattern>/task/create</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>taskServlet</servlet-name>
		<url-pattern>/task/viewTasks</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>loginServlet</servlet-name>
		<url-pattern>/login</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>userServlet</servlet-name>
		<url-pattern>/createUser</url-pattern>
	</servlet-mapping>
	<filter-mapping>
    	<filter-name>loginFilter</filter-name>
    	<url-pattern>/task/*</url-pattern>
    </filter-mapping>
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
</web-app>